@import './materialize.scss';


/* Background Color*/
body {
    background-color: #e5e6ea;
}


/* Add Nova Acao */
.new-btn {
    transition: 0.25s ease;

    &:hover {
        opacity: 0.9 !important;
    }
}

/* CardAcao */
.card.col.m4 {
    @media screen and (min-width: 601px) {
        width: calc(33.3333333333% - 5px);
        margin: 2.5px 2.5px;

        &.add-new {
            padding-top: 8px !important;
            cursor: pointer;
        }
    }

    button {
        margin: 2.5px 0;
    }
}


/* Graficos Home */
.container-graficos {
    display: grid;
    grid-template-columns: 50% 50%;

    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
        display: block;
        grid-template-columns: 100%;
    }
}